{% extends 'base.html' %}
{% block content %}
<div class="column">
    <div class="block"> 
    <h1 class="title is-1">
        {{profile.user.username|upper}}'s Dweets
    </h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="buttons has-addons">
        {% if profile in user.profile.follows.all %}
            <button class="button is-success is-static">Follow</button>
            <button class="button is-danger" name="follow" value="unfollow">
                Unfollow
            </button>
        {% else %}
            <button class="button is-success" name="follow" value="follow">
                Follow
            </button>
            <button class="button is-danger is-static">Unfollow</button>
        {% endif %}
        </div>
    </form>

<div class="content">
    {% for dweet in profile.user.dweets.all %}
        <div class="box">
            {{ dweet.body }}
            <span class="is-small has-text-grey-light">
                ({{ dweet.created_at }})
            </span>
        </div>
    {% endfor %}
</div>
</div>

<div class="column is-one-third">
<div class="card">
    <div class="text-center mt-3">
        <img src="http://127.0.0.1:8000/media/{{profile.profileImg}}" class="rounded" alt="avatar_img" width="200px" height="200px">
        <p class="card-text">{{profile.bio}}</p>
        <a href="{% url 'edit_profile' request.user.profile.id%}" >
            <button class="button btn-outline-primary is-outlined">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
                &nbsp; Edit Profile
            </button>
        </a>
        <a href="{% url 'profile_list' %}" >
            <button class="button is-dark is-outlined">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                </svg>
                &nbsp; All Profiles
            </button>
        </a>
    </div>
    <div class="card-body">
        <div class="block">
            <h3 class="title is-4">
                {{profile.user.username}} follows:
            </h3>
            <div class="content">
                <ul>
                {% for following in profile.follows.all %}
                    <li>
                        <a href="#">
                            {{ following }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="block">
            <h3 class="title is-4">
                {{profile.user.username}} is followed by:
            </h3>
            <div class="content">
                <ul>
                {% for follower in profile.followed_by.all %}
                    <li>
                        <a href="#">
                            {{ follower }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  </div>   
</div>
{% endblock content %}



