<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Dwitter</title>
</head>
<body>
  <div class="w-50" style="margin: auto;">
    <form style="margin-top: 20%;" action="" method="POST">
      {% csrf_token %}
      <div class="card">
        <h5 class="card-header">Register</h5>
        <div class="card-body">
          <h5 class="card-title">Username</h5>
          {{form.username}}
          {{form.username.errors}}
          <h5 class="card-title">Password</h5>
          {{form.password1}}
          {{form.password1.errors}}
          <h5 class="card-title">Password Confirm</h5>
          {{form.password2}}
          {{form.password2.errors}}
          <br><br>
          <button type="submit" class="btn btn-success">Register</button>
          <button class="btn btn-secondary"><a class="text-white" href="{% url 'login' %}">Log In</a></button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>